@import "../global.scss";

.postPage {
  h1 {
    margin-bottom: 0.3rem;
  }
  .date {
    font-size: 0.8rem;
    margin-top: 0;
  }
  margin: 3rem 0;

  pre {
    background-color: $white;
    color: $black;
    padding: 0.7rem 1rem;
    overflow: scroll;
  }

  margin-bottom: 5rem;
}
