@import "../global.scss";

.layout {
  margin: auto;
  max-width: 900px;
  padding: 2rem 4rem;
  font-family: "Open Sans";
  background-color: $black;
  min-height: 100vh;

  .inner {
    margin: 3rem 0;
  }
}

@media (max-width: 700px) {
  .layout {
    padding: 1rem;
  }
}

@media (max-width: 350px) {
  .layout {
    padding: 1rem 0.6rem;
  }
}

.background {
  min-height: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    background-image: url("/bg.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}
