@import "../global.scss";

.navbar {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    color: $accentColor;
  }

  a {
    font-weight: 600;
    margin-left: 16px;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;

    &:hover {
      color: $accentColor;
    }

    &.logo {
      margin-left: 0;
    }
  }
}
