$black: #272727;
$white: #f4faff;
$accentColor: #61dbfb;

* {
  box-sizing: border-box;
}

body {
  color: $white;
  background-color: $black;
}

a {
  color: $accentColor;
}

p {
  line-height: 1.7;
}
